amqp==2.2.1
appnope==0.1.0
asn1crypto==0.22.0
attrs==17.3.0
Automat==0.6.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
billiard==3.5.0.3
bs4==0.0.1
celery==4.1.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
click==6.7
constantly==15.1.0
cryptography==1.9
cssselect==1.0.1
decorator==4.1.2
Django==1.9
django-celery-results==1.0.1
email==4.0.2
enum34==1.1.6
Flask==0.12.2
html5lib==1.0b8
hyperlink==17.3.1
idna==2.5
incremental==17.5.0
ipaddress==1.0.18
ipython==5.4.1
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.9.6
kombu==4.1.0
lxml==4.9.1
Markdown==2.6.8
MarkupSafe==1.0
mongokit==0.9.1.1
MySQL-python==1.2.5
ndg-httpsclient==0.4.2
numpy==1.14.0
pandas==0.22.0
parsel==1.2.0
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
ply==3.10
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyasn1==0.2.3
pyasn1-modules==0.2.1
pycparser==2.18
pycryptodome==3.4.6
PyDispatcher==2.0.5
Pygments==2.2.0
pymongo==2.9
PyMySQL==0.7.11
pyOpenSSL==17.1.0
pysmi==0.1.3
pysnmp==4.3.7
python-dateutil==2.6.1
pytz==2017.2
queuelib==1.4.2
redis==2.10.5
requests==2.18.1
scandir==1.5
Scrapy==1.4.0
service-identity==17.0.0
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.13
traitlets==4.3.2
tushare==1.1.3
Twisted==17.9.0
urllib3==1.21.1
uWSGI==2.0.15
vine==1.1.4
w3lib==1.18.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
zope.interface==4.4.3
