<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="api for weblist.site">
    <meta name="author" content="爱生活没道理">
    <title>api for weblist.site</title>
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css"
          rel="stylesheet" type="text/css">
    <link href="/static/vendor/datatables/dataTables.bootstrap4.css"
          rel="stylesheet">
    <link href="/static/css/sb-admin.css" rel="stylesheet">
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
     id="mainNav">
    <a class="navbar-brand" href="/">api.weblist.site</a>
    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="accordion">
            <li class="nav-item" data-toggle="tooltip"
                data-placement="right"
                title="Components">
                <a class="nav-link nav-link-collapse"
                   aria-expanded="true" href="#aqi" data-parent="#accordion"
                   data-toggle="collapse">
                    <i class="fa fa-fw fa-soundcloud"></i>
                    <span class="nav-link-text">空气质量数据</span>
                </a>
                <ul class="sidenav-second-level collapse" id="aqi">
                    <li>
                        <a href="/">可视化</a>
                    </li>
                    <li>
                        <a href="/aqi/doc/">API文档</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item active" data-toggle="tooltip"
                data-placement="right"
                title="Components">
                <a class="nav-link nav-link-collapse collapsed"
                   data-parent="#accordion" href="#stock"
                   data-toggle="collapse">
                    <i class="fa fa-fw fa-bar-chart-o"></i>
                    <span class="nav-link-text">股票数据</span>
                </a>
                <ul class="sidenav-second-level collapse show" id="stock">
                    <li>
                        <a class="active" href="/dashboard/stock/">可视化</a>
                    </li>
                    <li>
                        <a href="/dashboard/stock/doc/">API文档</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-map-marker"></i>实时AQI数据&nbsp;&nbsp;&nbsp;&nbsp;更新于&nbsp;<span
                    id="time"></span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div id="stock-chart" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>©2018 weblist.site 京ICP备17066246号</small>
            </div>
        </div>
    </footer>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
</div>
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/datatables/jquery.dataTables.js"></script>
<script src="/static/vendor/datatables/dataTables.bootstrap4.js"></script>
<script src="/static/vendor/echarts/echarts.min.js"></script>
<script src="/static/vendor/echarts/map/js/china.js"></script>
<script src="/static/js/sb-admin.min.js"></script>
<script src="/static/js/sb-admin-datatables.min.js"></script>
<script src="/static/js/stock.js"></script>
<script type="text/javascript">
    drawKLine('stock-chart')
    {#    $.get('/api/aqi/current/', function (data) {#}
    {#        if (data.code != '200') {#}
    {#            console.log('AQI数据获取失败')#}
    {#        }#}
    {#        else {#}
    {#            var time = data.data.time;#}
    {#            $('#time').html(time);#}
    {#            var dataSet = data.data.data_set;#}
    {#            drawMap('aqi-map', dataSet, 'aqi');#}
    {#            drawPie('aqi-pie', dataSet, 'aqi');#}
    {#        }#}
    {#    });#}
</script>
</body>
</html>
